<page id="for_employers_index">
  <div class="jumbotron page-header">
    <div class="container">
      <div class="col-md-8 offset-md-2">
        <h2 class="bold">For Arbeitsgivere</h2>
      </div>
    </div>
  </div>
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="row">
            <div class="col-sm-6">
              <div class="card card-pricing card-basic">
                <div class="card-header">
                  <h4 class="card-title no-margin-bottom">Basic</h4>
                </div>
                <div class="card-block">
                  <p class="card-text"><i class="fa fa-check" aria-hidden="true"></i> Jobbmail: Markedsføre dine tjenester direkte til jobbsøkere</p>
                  <p class="card-text"><i class="fa fa-check" aria-hidden="true"></i> Annonse Logo: Publisert av annonsen og blir synlig i søkelisten</p>
                  <p class="card-text"><i class="fa fa-check" aria-hidden="true"></i> Annonse Beskrivelse: Full annonsetekst</p>
                  <p class="card-text"><i class="fa fa-check" aria-hidden="true"></i> Informasjon: Om dere som arbeidsgiver</p>
                  <p class="card-text text-muted" style="text-decoration: line-through;"><i class="fa fa-times" aria-hidden="true"></i> ToppJobb: Mer markedsføring for din tjeneste i søkelisten</p>
                  <p class="card-text text-muted" style="text-decoration: line-through;"><i class="fa fa-times" aria-hidden="true"></i> Ny kundegaranti</p>
                  <p class="card-text"><i class="fa fa-check" aria-hidden="true"></i> Reklametid: 30 dagar</p>
                </div>
                <div class="card-footer">
                  <h4 class="card-title no-margin-bottom">9 900 NOK</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card card-pricing card-exclusive">
                <div class="card-header">
                  <h4 class="card-title no-margin-bottom">Exclusive</h4>
                </div>
                <div class="card-block">
                  <p class="card-text"><i class="fa fa-check" aria-hidden="true"></i> Jobbmail: Markedsføre dine tjenester direkte til jobbsøkere</p>
                  <p class="card-text"><i class="fa fa-check" aria-hidden="true"></i> Annonse Logo: Publisert av annonsen og blir synlig i søkelisten</p>
                  <p class="card-text"><i class="fa fa-check" aria-hidden="true"></i> Annonse Beskrivelse: Full annonsetekst</p>
                  <p class="card-text"><i class="fa fa-check" aria-hidden="true"></i> Informasjon: Om dere som arbeidsgiver</p>
                  <p class="card-text"><i class="fa fa-check" aria-hidden="true"></i> ToppJobb: Mer markedsføring for din tjeneste i søkelisten</p>
                  <p class="card-text"><i class="fa fa-check" aria-hidden="true"></i> Ny kundegaranti</p>
                  <p class="card-text"><i class="fa fa-check" aria-hidden="true"></i> Reklametid: 30 dagar</p>
                </div>
                <div class="card-footer">
                  <h4 class="card-title no-margin-bottom">14 900 NOK</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <p class="center bold no-margin-bottom">For att mer fremme dine tjenester, har vi tilgang til banner og bedriftsprofiler.</p>
        </div>
      </div>
    </div>
  </section>
</page>
