<page id="coming_soon_index">
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h1 class="center bold">WE ARE CURRENTLY WORKING ON A BRAND NEW WEBSITE.</h1>
          <h4 class="center bold">Stay Tuned. We are launching very soon.</h4>
        </div>
      </div>
    </div>
  </section>
</page>
