<page id="about_index">
  <div class="jumbotron page-header">
    <div class="container">
      <div class="col-md-8 offset-md-2">
        <h2 class="bold">Om oss</h2>
      </div>
    </div>
  </div>
</page>
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <p class="justify">Rekneskapsjobb.no er et selskap som består av reklame og markedsføring eksperter, Vi arbeider med å styrke våre kunders måte å annonsere og markedsføre sine tjenester på riktig vei, og bli deres strategisk partner for å finne den riktige ansatte til deres ansettelse. Vi etablere reklame løsninger, Rekruttering planer og markedsføring, Vi hjelper med å planlegge, utvikle, implementere, vi er nisje i Regnskap, Økonomi og Revisjon, Vi ser for å lette programmet for kandidat med enkel jobbmail utsendelse.</p>
        <p class="justify">Vi fokuserer på nisje reklame så gjør det enkelt for arbeidsgiver å dekke riktig publikum etter den første annonsen. Vi er glade for å kunne hjelpe deg med å løse dine behov innen reklame og markedsføring.</p>
        <h4 class="bold">Om oss</h4>
        <p class="justify">Rekneskapsjobb.no jobber med å tilby nisje annonsering og markedsførings planer for organisasjoner og bedrifter i hele landet. Vår oppgave er å gi en etisk og effektiv støtte for kundene våre å gjøre fornuftige beslutninger innenfor rekruttering, slik at de kan fokusere på å oppnå sine forretningsmål. I tillegg hjelper vi våre bedriftskunder til å gå inn i nye markeder.</p>
        <p class="justify">For dette har vi et team av spesialister innenfor områdene markedsføring, reklame, design, utvikling, opplæring og erfaring for å hjelpe kundene til å oppnå en vellykket rekruttering, og forbedre kundeforhold.</p>
        <h4 class="bold">Vi tilbyr</h4>
        <p class="justify">Tilbyr et komplett sett av reklame og markedsføring tjenester for våre kunder og bidra til å etablere kommunikasjon strategier, Rekruttering planer og markedsføring. Vi kan hjelpe deg med å planlegge, utvikle, implementere og evaluere.</p>
        <h4 class="bold">Nisje reklame</h4>
        <p class="justify">Rekneskapsjobb.no gir bedrifter og orginisationer reklamere for tjenestene sine for å nå ut til riktig målgruppe ved første annonsen. Vi har ulike reklame løsninger for kundene våre. informasjon layout som gjør at kunden og kandidaten har anledning til å se hverandres behov. Vi har kunnskapen og erfaringen til å hjelpe kundene våre med å oppnå en vellykket annonsering og forbedre sine relasjoner til Kandidatene.</p>
        <p class="justify">I tillegg til vår innsats for å tilby vår Reklame, Markedsføring og PR-ekspertise er vi stolte av våre sosiale engasjement. Rekneskapsjobb.no ser på seg selv som medlem av samfunnet vi opererer i og ønsker å gi noe tilbake.</p>
        <p class="justify">Vi støtter initiativet for bærekraftig utvikling. Hvis du har ytterligere spørsmål sende dem til oss via vår kontakt side.</p>
        <h4 class="bold">Kontakt oss</h4>
        <p class="justify bold">Frank Burman</p>
        <p class="justify">frank@rekneskapsjobb.no</p>
        <p class="justify">+47 2101455</p>
        <p class="justify bold">Marwen Chebil</p>
        <p class="justify">marwen@rekneskapsjobb.no </p>
        <p class="justify">+47 21014456</p>
      </div>
    </div>
  </div>
</div>
