/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  background: #fff;
  color: #424242;
}

.center {
  text-align: center;
}

.bold {
  font-weight: 500;
}

.card {
  border:none !important;
  border-radius: 0rem !important;
  margin-bottom:2rem;
}

.card-pricing {

}

.card-basic {

}

.card-block {
  padding:2rem;
}

.card-exclusive {
  box-shadow: 0 0 40px rgba(54,67,77,0.2) !important;
}

.card-title {
  text-align:center !important;
}

.card-header {
  background:#fff;
  text-align:center;
  font-weight:500;
  padding:2rem;
  border-bottom:0rem;
}

.fa-check {
  color:#FFC107 !important;
}

.card-footer {
  background:#fff;
  text-align:center;
  font-weight:500;
  padding:2rem;
  border-top:0rem;
  font-size:1.5rem;
}

.jumbotron {
  border-radius:0rem !important;
  margin:0rem !important;
}

.page-header {
  background:#fff;
  text-align: center;
}

.section {
  margin-bottom:4rem;
}

.text-muted {
  color:#9E9E9E !important;
}

.no-margin-bottom {
  margin-bottom: 0rem !important;
}

.justify {
  text-align: justify;
}
